<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="itesm.mx.losalacranes_mipasadoenpresente">

    <application
        android:name=".GlobalUserClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AgregarPersona" />
        <activity android:name=".AgregarEvento" />
        <activity android:name=".ModificaPersona" />
        <activity android:name=".ModificaEvento" />
        <activity android:name=".AgregarUsuarioActivity" />
        <activity android:name=".ModificarUsuario" />
        <activity android:name=".DetallePersonaActivity" />
        <activity android:name=".DetalleAmigoActivity" />
        <activity android:name=".DetalleEventoActivity" />
        <activity android:name=".DetalleSucesoActivity" />
        <activity android:name=".PreguntasActivity" />
        <activity android:name=".FamiliaActivity" />
        <activity android:name=".AmigosActivity" />
        <activity android:name=".EventosActivity" />
        <activity android:name=".PersonalActivity" />
        <activity android:name=".SucesoActivity" />
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DetalleHistoriaPersonalActivity"></activity>
    </application>

</manifest>